<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="author" href="./humans.txt" />
    <title>hpapi</title>
  </head>
  <body>

    <h1>My hpapi endpoint</h1>

    <ul>
      <li><a href="./">Method: POST; Content-Type: application/json</a></li>
      <li><a href="https://other.url/">Graphical browser</a></li>
    </ul>

    <p><small><a href="http://hpapi.io/" onclick="alert ('Coming soon...');return false">What is hpapi?</a></small></p>

  </body>
</html>


