{
    "HpapiModel" : {
        "dsn" : "mysql:host=localhost;dbname=hpapi;port=3306;charset=utf8"
       ,"usr" : "hpapi"
       ,"pwd" : "pwda"
    }
   ,"ExampleVendor" : {
        "dsn" : "mysql:host=localhost;dbname=egmodel;port=3306;charset=utf8"
       ,"usr" : "hpapi"
       ,"pwd" : "pwdb"
    }
}