{
    "mysql" : {
        "sql" : {
            "spr" : "CALL `<spr/>`(<csv-bindings/>)"
        }
    }
   ,"pgsql" : {
        "sql" : {
            "spr" : "SELECT <spr/>(<csv-bindings/>)"
        }
    }
}